.btn-shopping-list-li{
    float:right;
    margin-left: 10px;
   
}

.list-group-item{
    height: 55px;
}

.shopping-list-li{
    min-height: 55px;
    height: auto;
}


.sl-text{
    float: left;
    margin-top: 5px;
    font-size:18px;
}