.dropdown-menu li div{
    padding:1rem;
    cursor: pointer;
}
.list-group-item{
    height: 55px;
}
.ingredient-detai-p{
    width:70%;
    float:left;
    margin-top: 1rem;
}
.add-to-list-btn{
    float:right;
}



/* The snackbar - position it at the bottom and in the middle of the screen */

  